html,
body {
  height: 100%;
}

.navbar-container ul li a {
  padding: 24px;
  display: block;
}
.navbar-container .brand {
  padding: 18px;
}

.pepper {
  height: 70px;
  width: auto;
  left: 250px;
  top: 5px;
  position: absolute;
  transform: rotate(-5deg);
}
.salad {
  position: absolute;
  height: 105px;
  width: auto;
  right: 0;
}

p {
  margin-bottom: 0.2em;
}
.content-container {
  flex: 1 0 auto;
}
.background-vector-left {
  position: absolute;
  margin-top: 40px;
}
.background-vector-right {
  position: absolute;
  margin-top: 50px;
  right: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.heading {
  margin-top: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}
.categories {
  text-align: center;
  margin-top: 60px;
}
.category-button {
  border-radius: 45px;
  background: var(--button-light-bg);
  border: 0;
  font-weight: 600;
  padding: 10px;
  margin: 0 15px;
  min-width: 135px;
}

.pizza-items {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
}
.pizza-title {
  padding-top: 0;
}
.pizza-card-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 70px;
}
.pizza-name-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pizza-size {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.pizza-price {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
}
.bag-icon {
  margin-bottom: 6px;
}
.add-to-basket-button {
  margin: 10px auto 0;
  display: block;
  background: white;
  border: 2px var(--button-light-bg) solid;
  border-radius: 100%;
}
.pizza-card-bottom {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.selected-category,
.selected-pizza {
  background: var(--button-yellow-bg);
  color: white;
}
