body {
  background: var(--main-bg-color);
  background-image: url(../img/ImgForBackground/texture.png);
  background-repeat: repeat;
}

header {
  z-index: 2;
  position: absolute;
}

.wrapper {
  position: relative;
  min-width: 960px;
  min-height: 700px;
}

.salad {
  position: absolute;
  margin-left: 1229px;
}

.pepper {
  position: absolute;
  margin-left: 220px;
  margin-top: 160px;
}

.plant {
  position: absolute;
  margin-top: 290px;
}

.garlic {
  position: absolute;
  margin-top: 610px;
}

.tomatoes {
  position: absolute;
  margin-top: 340px;
  margin-left: 1200px;
}

.bean {
  position: absolute;
  right: 0;
  margin-top: 788px;
}

.big-pizza-container {
  position: relative;
  min-height: 500px;
}

.big-pizza-img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.dough {
  margin-top: 581px;
}

.sause {
  margin-top: 620px;
}

.cheese {
  margin-top: 640px;
}

.pepperoni {
  margin-top: 647px;
}

.red-peppers {
  margin-top: 665px;
}

.meatballs {
  margin-top: 662px;
}

.bacon {
  margin-top: 607px;
}

.small-circle-container {
  height: 400px;
  width: 775px;
  margin-top: 580px;
  overflow: hidden;
}

.small-circle {
  top: 220px;
  height: 770px;
  width: 770px;
  border-radius: 50%;
  border: 0.1em solid white;
}

.big-circle-container {
  height: 640px;
  width: 1050px;
  margin-top: 340px;
  overflow: hidden;
}

.big-circle {
  margin-top: 15px;
}

.ingredients-container {
  position: absolute;
  margin-top: 350px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 1250px;
  height: 400px;
}

.ingredients {
  position: absolute;
}

.olives {
  margin-top: 375px;
  margin-left: 30px;
}

.mini-cheese {
  margin-top: 240px;
  margin-left: 130px;
}

.mini-peppers {
  margin-top: 105px;
  margin-left: 275px;
}

.mini-peppers2 {
  margin-top: 105px;
  margin-left: 275px;
  transform: rotate(25deg);
}

.mini-pepp {
  margin-top: 50px;
  margin-left: 500px;
}

.mini-bacon {
  margin-top: 30px;
  margin-left: 690px;
}

.mini-bacon2 {
  margin-top: 30px;
  margin-left: 675px;
  transform: rotate(25deg);
}

.chicken {
  margin-top: 125px;
  margin-left: 890px;
}

.beef {
  margin-top: 260px;
  margin-left: 1000px;
}

.sausage {
  margin-top: 420px;
  margin-left: 1060px;
}

.order-button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
  width: 210px;
  height: 60px;
  left: 0;
  right: 0;
  border-radius: 100px;
  background: var(--button-yellow-bg);
  font-size: 20px;
  margin-top: 820px;
}

.order-button:hover {
  background: var(--button-hover-yellow);
}

.navbar-container {
  width: 100vw;
}

.navbar-container ul li a {
  padding: 24px;
  display: block;
}
